:root {
    color: rgba(100,100,100,1.0);
    font-family: Helvetica, sans-serif;
    /* font-family: heavy_data; */
    font-size: 0.8em;
}

@font-face {
    font-family: heavy_data;
    font-weight: normal;
    font-feature-settings: normal;
    src: url(/static/font/pf_tempesta_seven.ttf);
}

body {
    margin: 0;
    overflow: hidden;
}

.note{
    /* font-size:80%; */
    opacity:0.8;
}

.ro{
    display: flex;
    flex-direction: row;
    border-bottom:1px rgba(0,0,0,0.25) dotted;
    /* flex-basis: 25vw auto; */
}

.c0{
    width: 25vw;
    font-weight: bolder;
}

.c1{
    flex: 1;
}

.note, .ro, div, h2, h3 {
    margin-bottom: 4px;
}

h2, h3 {
    border-bottom:1px black dotted;
}

.note {
    margin-bottom: 8px;
}

/*  GO One Colum BELOW 480 PIXELS */
@media only screen and (max-width: 580px) {
	.img-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.logos-grid {
		grid-template-columns: repeat(2, 1fr);
	}

    .ro{
        display: block;
        flex-wrap: wrap;
    }
    
    .c0{
        width: 100vw;
        flex:1;
    }
}

.image-list{
    display: flex;
    flex-wrap: wrap;
}

.image-item{
    border:1px gray solid;
    position:relative;
    width:33%;
    height:400px;
    /* margin:4px; */
    padding:8px;
    border-radius: 8px;
    box-sizing: border-box;
    flex:33%;
    /* background-color: aliceblue; */
}

/* .image-item:not(:first-child){
    margin-left:8px;
} */

.image-item img{
    max-width: 100%;
    /* max-width: calc(100% - 16px); */
    max-height:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.image-item .note{
    position:absolute;
    width:90%;
    bottom:0;

}

@media only screen and (max-width: 700px) {
    .image-item {
        width:50%;
        flex:50%;
    }
}

@media only screen and (max-width: 580px) {
    .image-item {
        width:100%;
        flex:100%;
    }
}


#app{
    display: flex;
    flex-direction: column;
    /* max-height:100vh; */
    height:100vh;
    overflow:hidden;
    /* border: 1px red solid; */
    box-sizing: border-box;
}

#app div{
    /* margin:0;
    padding:0; */
    /* border: 1px red solid; */
    box-sizing: border-box;
}


.splash{
    display: flex;
    flex:1;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.credit{
    text-align: right;
    vertical-align: top;
    padding: 10px;
    font-size: 0.8em;
    opacity: 0.8;
}


#main-svg{
    display: block;
    width: 100vw;
    height: 90lvh;
    /* border: 1px red solid; */
}
